@import "960_12_col.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #42484b;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.container_12 {
  padding: 10px;
}
.content {
  margin-top: 50px;
}
h1 {
  text-align: center;
  margin-bottom: 100px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  padding: 10px;
  /*border-bottom: 2px solid #a3a3a3;*/
}
hgroup {
  line-height: 1.2em;
  letter-spacing: 0.1em;
}
p, figcaption {
  color: #a3a3a3;
}
figcaption {
  text-align: center;
}
figcaption:hover {
  color: grey;
}
img {
  border: 2px solid #a3a3a3;
  border-radius: 10px;
}
h1, h2, h3 {
  color: #ffffff;
}
p#intro {
  width: 350px;
}
/*.myimage {
  background-image: url("images/image3.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 225px;
  border: 1px solid #a3a3a3;*/
}
h2 {
  line-height: 1.2em;
  letter-spacing: 0.1em;
}
.details {
  padding-left: 20px;
  margin: 10px;
}
dt {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}
dd {
  color: #a3a3a3;
  font-size: 16px;
  padding: 5px;
}
fieldset {
  border-radius: 10px;
}
section.contact-form {
  margin-top: 100px;
}
label, button {
  color: #ffffff;
  margin: 5px;
  padding: 5px;
}
input, textarea {
  border-radius: 10px;
  background-color: grey;
  width: 480px;
  padding: 10px;
  margin: 0px auto;
  border-style: none;
}
input:hover, textarea:hover {
  background-color: #a3a3a3;
}
div.control {
  padding: 10px;
}
#form-heading {
  text-align: center;
}
#form-intro {
  text-align: center;
}
button {
  border-radius: 10px;
  background-color: #191a1c;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  border-style: none;
  width: 490px;
  height: 50px;
}
button:hover {
  background-color: #a3a3a3;
  color: #000000;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #a3a3a3;
}
footer {
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  /*border-top: 2px solid #a3a3a3;*/
}
.container_12 {
  margin: 0px auto;
}
#wrapper {
  padding-left: 50px;
}
